
body {
  background-image: url('Background.png');
  background-size:300px 300px;
  background-position:center;
  color:white;
  font-family:Times new roman
}
section p:hover{
    border-radius:75px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 60px;
    background: black;
    border: 1px solid blue;
    }
.animate-fade{
    opacity:1;
    transition:3s;
    }
.animate-fade.fade-out{
    opacity:0
}
